@(animals: Seq[Animal], form: Form[Animal])(implicit messages: Messages)

@display(animal: Animal, index: Int) = {
    @animal.description <a href="@routes.Application.findByIndex(index)">edit</a><br/>
}


@main("Animals") {

    <h1>@if(animals.isEmpty) {No animals} else {Animals}</h1>
    <ul>
    @for((animal, index) <- animals.zipWithIndex) {
        <li>@display(animal, index)</li>
    }
    </ul>

    <hr/>

    @helper.form(action = routes.Application.createAnimal(), 'enctype -> "multipart/form-data") {
        <input type="hidden" name="index" value="@form.data.getOrElse("index", animals.size)"/>
        @helper.inputText(form("animalId"))
        @helper.inputText(form("animalType"))
        @helper.inputText(form("price"))
        @helper.inputText(form("description"))
        @helper.inputText(form("age"))
        @helper.inputText(form("seller"))
        <button type="submit" name="action" value="save">save</button>
        <button type="submit" name="action" value="delete">delete</button>
    }

}



@*@(animals: Seq[Animal], form: Form[Animal])(implicit messages: Messages)*@

@*@main("Animals") {*@

    @*<h1>Animals</h1>*@
    @*<table>*@
        @*<thead>*@
            @*<tr><th>animal Id</th><th>Price</th></tr>*@
        @*</thead>*@
        @*<tbody>*@
        @*@for(animal <- animals) {*@
            @*<tr><td>@animal.animalId</td><td>@animal.price</td></tr>*@
        @*}*@
        @*</tbody>*@
    @*</table>*@

    @*<hr/>*@



    @*@helper.form(routes.Application.createAnimal()) {*@

        @*@helper.inputText(form("animalId"), '_label -> "animal Id", '_showConstraints -> false)*@
        @*@helper.inputText(form("price"), '_label -> "Price" , '_showConstraints -> false)*@
        @*<button type="submit">Create Animal</button>*@
    @*}*@

    @*<form action="/animals" method="POST">*@
    @*<dl class=" " id="animalId_field">*@
    @*<dt><label for="animalId">animalID</label></dt>*@
    @*<dd>*@
    @*<input type="text" id="animalId" name="animalId" value="">*@
    @*</dd>*@
    @*</dl>*@
    @*<dl class=" " id="price_field">*@
    @*<dt><label for="price">Price</label></dt>*@
    @*<dd>*@
    @*<input type="text" id="price" name="price" value="">*@
    @*</dd>*@
    @*</dl>*@
    @*<button type="submit">Create Animal</button>*@
    @*</form>*@
@*}*@




