@(animals: Seq[Animal], form: Form[Animal])(implicit messages: Messages, lang: Lang, request: RequestHeader)

@display(animal: Animal) = {
    @animal.description <a href="@routes.Application.findByIndex(animal.index.get)">edit</a><br/>
}


@index = @{
    if (animals.size > 0) {
        form.data.getOrElse("index", animals.last.index.get +1)
    } else {
        0
        0
    }
}

@main("Animals") {

    <h1>@if(animals.isEmpty) { No animals } else { Animals }</h1>
    <ul>
    @for(animal <- animals) {
        <li>@display(animal)</li>
    }
    </ul>

    @helper.form(action = routes.Application.createAnimal(), 'enctype -> "multipart/form-data") {
        <input type="hidden" name="index" value="@form.data.getOrElse("index", animals.size)"/>
        @helper.inputText(form(messages("animalID")))
        @helper.inputText(form(messages("animalType")))
        @helper.inputText(form(messages("price")))
        @helper.inputText(form(messages("description")))
        @helper.inputText(form(messages("age")))
        @helper.inputText(form(messages("seller")))
        <button type="submit" name="action" value="save">@messages("save")</button>
        <button type="submit" name="action" value="delete">@messages("delete")</button>
    }

}


