@(animals: Seq[Animal], form: Form[AnimalData])(implicit messages: Messages)

@display(animal: Animal, index: Int) = {
@animal.animalId <br/>

    <a href="@routes.Application.editAnimal(index)">edit</a>
}


@main("Items") {

    <h1>@if(animals.isEmpty) { No items } else { Animal }</h1>
    <ul>
    @for((animal, index) <- animals.zipWithIndex) {
        <li>@display(animal, index)</li>
    }
    </ul>

    <hr/>

    @helper.form(action = routes.Application.createAnimal(), 'enctype -> "multipart/form-data") {
        <input type="hidden" name="index" value="0"/>

        @helper.inputText(form("animalId"))
        @helper.inputText(form("animalType"))
        @helper.inputText(form("price"))
        @helper.inputText(form("description"))
        @helper.inputText(form("age"))
        @helper.inputText(form("seller"))

        <button type="submit">create animal</button>

    }
}